<div class="fireflow-sqlgen">
  <div class="fireflow-sqlgen__container">
    <div class="fireflow-sqlgen__actions">
      <input
        type="text"
        class="fireflow-sqlgen__input"
        name="Query Request"
        placeholder="Eg: Create a table for students"
        id="query-request"
        pInputText
        [(ngModel)]="prompt"
        (keyup.enter)="generateQuery()"
      />
      <button
        pButton
        pRipple
        label="Generate"
        [disabled]="prompt.length <= 0"
        (click)="generateQuery()"
      ></button>
      <button
        pButton
        pRipple
        label="New"
        severity="secondary"
        [disabled]="prompt.length <= 0"
        (click)="clearInput()"
      ></button>
    </div>

    <div class="fireflow-sqlgen__code">
      <pre><code [highlight]="code" [languages]="languages"></code></pre>
      <p-button
        class="fireflow-sqlgen__copybtn"
        icon="pi pi-copy"
        (click)="copyCode()"
        [disabled]="true"
        #copybtn
      ></p-button>
    </div>
  </div>
</div>
