<div class="fireflow-sqlgen">
  <div class="fireflow-sqlgen__container">
    <div class="fireflow-sqlgen__actions">
      <input
        type="text"
        class="fireflow-sqlgen__input"
        name="Query Request"
        id="query-request"
        [(ngModel)]="prompt"
      />
      <button class="fireflow-sqlgen__btn" [disabled]="prompt.length <= 0">
        New
      </button>
      <button
        class="fireflow-sqlgen__btn"
        [disabled]="prompt.length <= 0"
        (click)="generateQuery()"
      >
        Generate
      </button>
    </div>

    <div class="fireflow-sqlgen__code">
      <pre><code [highlight]="code" [languages]="languages"></code></pre>
    </div>
  </div>
</div>
