.fireflow-sqlgen {
    padding: 16px;
    &__container {
        width: 100%;
        height: calc(100vh - 32px);
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;
    }
    &__actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 12px;
    }
    &__code {
        width: auto;
        height: calc(100vh - 250px);
        overflow-y: auto;
    }
    &__input {
        flex-grow: 1;
    }
}