.fireflow-sqlgen {
    padding: 16px;
    &__container {
        width: 100%;
        height: calc(100vh - 32px);
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;
    }
    &__actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 12px;
    }
    &__code {
        width: auto;
        height: calc(100vh - 102px);
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        padding: 16px;
        position: relative;
    }
    &__input {
        flex-grow: 1;
        height: 24px;
        border: 1px solid #666666;
        border-radius: 8px;
        padding: 4px 12px;
    }
    &__btn {
        height: 34px;
        padding: 4px 12px;
        cursor: pointer;
    }
    &__copybtn {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        &.copied {
            background-color: #023802;
            color: #fff;
            border: 1px solid #023802;
            border-radius: 4px;
        }
    }
}