<nav class="layout__sidenav" #sideNav>
  <div class="layout__logo">
    <i class="pi pi-bars" (click)="toggleSideNav(sideNav)"></i>
    <img src="favicon.ico" class="brand-logo" />
  </div>
  <div class="layout__menu">
    <ul class="layout__ul">
      @for (item of menuItems; track $index) {
      <li class="layout__li" [routerLink]="[item.link]">
        <i [class]="item.icon"></i>
        <span>{{item.label}}</span>
      </li>
      }
    </ul>
  </div>
</nav>
<header class="layout__header">
  <h2>{{ title }}</h2>
</header>
<main class="layout__main">
  <router-outlet></router-outlet>
</main>
