<nav class="layout__sidenav" #sideNav>
    <div class="layout__logo">
        <i class="pi pi-bars" (click)="toggleSideNav(sideNav)"></i>
        <img src="favicon.ico" class="brand-logo" />
    </div>
    <div class="layout__menu">
        <ul class="layout__ul">
            <li class="layout__li">
                <i class="pi pi-home"></i>
                <a href="#">
                    Dashboard
                </a>
            </li>
            <li class="layout__li">
                <i class="pi pi-home"></i>
                <a href="#">
                    Dashboard
                </a>
            </li>
            <li class="layout__li">
                <i class="pi pi-home"></i>
                <a href="#">
                    Dashboard
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="layout__main">
    <header class="layout__header">
        <h1>Fireflow</h1>
    </header>
    <router-outlet></router-outlet>
</main>
