$eastern-blue-50: #ebfffd;
$eastern-blue-100: #cdfffd;
$eastern-blue-200: #a1fffe;
$eastern-blue-300: #60feff;
$eastern-blue-400: #18f2f8;
$eastern-blue-500: #00d5de;
$eastern-blue-600: #00a0af; //default
$eastern-blue-700: #088696;
$eastern-blue-800: #106b7a;
$eastern-blue-900: #125967;
$eastern-blue-950: #053b47;

$violet-red-50: #fdf2f7;
$violet-red-100: #fce7f1;
$violet-red-200: #fad0e5;
$violet-red-300: #f8a9ce;
$violet-red-400: #f274ac;
$violet-red-500: #e9488b; // default
$violet-red-600: #d82a69;
$violet-red-700: #bb1b51;
$violet-red-800: #9b1943;
$violet-red-900: #811a3b;
$violet-red-950: #4f081e;

$pumpkin-50: #fff9ec;
$pumpkin-100: #fff1d3;
$pumpkin-200: #ffdfa5;
$pumpkin-300: #ffc86d;
$pumpkin-400: #ffa432;
$pumpkin-500: #ff880a;
$pumpkin-600: #ff6f00; // default
$pumpkin-700: #cc5002;
$pumpkin-800: #a13e0b;
$pumpkin-900: #82350c;
$pumpkin-950: #461804;

$hoki-50: #f4f8fa;
$hoki-100: #e6eef3;
$hoki-200: #d4e1e9;
$hoki-300: #b6cdda;
$hoki-400: #92b4c8;
$hoki-500: #789db9;
$hoki-600: #6a8bad; // default
$hoki-700: #5a779b;
$hoki-800: #4d6280;
$hoki-900: #415267;
$hoki-950: #2b3440;

$chateau-green-50: #f1fcf4;
$chateau-green-100: #dff9e6;
$chateau-green-200: #c2f0cf;
$chateau-green-300: #91e4a9;
$chateau-green-400: #5ace7c;
$chateau-green-500: #34b45a; // default
$chateau-green-600: #259446;
$chateau-green-700: #21743a;
$chateau-green-800: #1f5c32;
$chateau-green-900: #1b4c2b;
$chateau-green-950: #092a15;

$blue-gem-50: #f4f0ff;
$blue-gem-100: #ebe4ff;
$blue-gem-200: #daccff;
$blue-gem-300: #bfa4ff;
$blue-gem-400: #a270ff;
$blue-gem-500: #8837ff;
$blue-gem-600: #7e0fff;
$blue-gem-700: #7100ff;
$blue-gem-800: #5f00da;
$blue-gem-900: #440099; // default
$blue-gem-950: #2e007a;

$blue-ribbon-50: #eef8ff;
$blue-ribbon-100: #d8eeff;
$blue-ribbon-200: #b9e0ff;
$blue-ribbon-300: #89cfff;
$blue-ribbon-400: #52b4ff;
$blue-ribbon-500: #2a91ff;
$blue-ribbon-600: #0d6efd; // default
$blue-ribbon-700: #0c5ae9;
$blue-ribbon-800: #1149bc;
$blue-ribbon-900: #144194;
$blue-ribbon-950: #11295a;

$amber-50: #ffffea;
$amber-100: #fffbc5;
$amber-200: #fff885;
$amber-300: #ffee46;
$amber-400: #ffdf1b;
$amber-500: #ffc107; // default
$amber-600: #e29400;
$amber-700: #bb6902;
$amber-800: #985108;
$amber-900: #7c420b;
$amber-950: #482200;

$jungle-green-50: #edfcf5;
$jungle-green-100: #d4f7e6;
$jungle-green-200: #aceed2;
$jungle-green-300: #76dfb8;
$jungle-green-400: #3fc89a;
$jungle-green-500: #1bab80; // default
$jungle-green-600: #0f8c69;
$jungle-green-700: #0c7057;
$jungle-green-800: #0c5946;
$jungle-green-900: #0b493b;
$jungle-green-950: #052922;

$tuna-50: #f5f6f9;
$tuna-100: #e7ebf2;
$tuna-200: #d5dae8;
$tuna-300: #b8c3d8;
$tuna-400: #96a5c4;
$tuna-500: #7c8ab5;
$tuna-600: #6a75a6;
$tuna-700: #5e6597;
$tuna-800: #51557c;
$tuna-900: #444864;
$tuna-950: #333548; // default

$black-50: #f6f6f6;
$black-100: #e7e7e7;
$black-200: #d1d1d1;
$black-300: #b0b0b0;
$black-400: #888888;
$black-500: #6d6d6d;
$black-600: #5d5d5d;
$black-700: #4f4f4f;
$black-800: #454545;
$black-900: #3d3d3d;
$black-950: #000000; // default

$red-ribbon-50: #fef2f2;
$red-ribbon-100: #fee6e5;
$red-ribbon-200: #fccfcf;
$red-ribbon-300: #f9a8a8;
$red-ribbon-400: #f57779;
$red-ribbon-500: #ec474f;
$red-ribbon-600: #dc3545; // default
$red-ribbon-700: #b7192c;
$red-ribbon-800: #99182c;
$red-ribbon-900: #83182c;
$red-ribbon-950: #490812;

$magenta-50: #fff2fe;
$magenta-100: #ffe3fe;
$magenta-200: #ffc6fd;
$magenta-300: #ff99f6;
$magenta-400: #ff5def;
$magenta-500: #ff21f2;
$magenta-600: #ff00ff; // default
$magenta-700: #cf00ca;
$magenta-800: #a900a3;
$magenta-900: #890682;
$magenta-950: #5e005a;



